{% extends 'main/MainMenu.html' %}
{% block title %}ООО "Профресурс" - группы{% endblock %}
{% block content %}
    <h3>Список групп</h3>
    <div>
        <table class="table" id = "group-table">
            <thead>
                <tr>
                    <th>Выбор</th>
                    <th>Номер группы</th>
                    <th>Курс</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                {% for группа in группы %}
                    <tr data-id="{{ группа.id }}">
                        <td><input type="checkbox"></td>
                        <td>{{ группа.id }}</td>
                        <td>{{ группа.Курс.Название }} ({{ группа.Курс.Тип.Название }})</td>
                        <td>{{ группа.Дата_начала_курса|date:"d.m.Y" }}</td>
                        <td>{{ группа.Дата_окончания_курса|date:"d.m.Y" }}</td>
                        <td>
                            <form method="post" action="{% url 'delete_group' группа.id %}">
                                {% csrf_token %}
                                <button type="submit" class="delete-button" onclick="return confirm('Удалить эту запись?');">X</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <form action="{% url 'export_groups' %}">
            <button type="submit" name="Группы_DOCX">Построить Word-документ</button>
        </form>
        <h3>Добавление новой группы</h3>
        <form class="account-form" method="post" action="{% url 'group_list' %}">
            {% csrf_token %}
            <label>Курс:</label><br>
            <select name="Курс" required>
            {% for курс in курсы %}
                <option value="{{ курс.id }}">{{ курс.Название }} - {{ курс.Тип.Название }}</option>
            {% endfor %}
            </select><br>
            <label>Дата начала курса:</label><br>
            <input type="date" name="Дата_начала_курса" required><br>

            <label>Дата окончания курса:</label><br>
            <input type="date" name="Дата_окончания_курса" required><br><br>

            <button type="submit" name="submit_группа">Добавить группу</button>
        </form>
    </div>
    <h3>Привязка слушателей к группам</h3>
    <div>
        <table class="table" id="group-linking-table"
            <thead>
                <tr>
                    <th>Слушатель</th>
                    <th>Группа</th>
                    <th>Статус</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                {% for чел_группа in Человек_группа %}
                    <tr>

                        <td>{{ чел_группа.Слушатель.Фамилия }} {{ чел_группа.Слушатель.Имя }} {{ чел_группа.Слушатель.Отчество }} (ИНН: {{ чел_группа.Слушатель.ИНН }})</td>
                        <td>№{{ чел_группа.Группа.id }} ({{ чел_группа.Группа.Курс.Название }} - {{ чел_группа.Группа.Курс.Тип.Название }})</td>
                        <td>{{ чел_группа.Статус.Название }}</td>
                        <td>
                            <form method="post" action="{% url 'delete_group_linking' чел_группа.id %}">
                                {% csrf_token %}
                                <button type="submit" class="delete-button" onclick="return confirm('Удалить привязку?');">X</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Добавить привязку</h3>
        <form class="account-form" method="post" action="{% url 'group_list' %}">
            {% csrf_token %}
            <label>Слушатель:</label><br>
            <select name="Слушатель" required>
                {% for слушатель in слушатели %}
                <option value="{{ слушатель.id }}">
                    {{ слушатель.Фамилия }} {{ слушатель.Имя }} {{ слушатель.Отчество }} (ИНН: {{ слушатель.ИНН }})
                </option>
                {% endfor %}
            </select><br>
            <label>Номер группы:</label><br>
            <select name="Группа" required>
                {% for группа in группы %}
                    <option value="{{ группа.id }}"> №{{ группа.id }} ({{ группа.Курс.Название }} - {{ группа.Курс.Тип.Название }})</option>
                {% endfor %}
            </select><br>
            <label>Статус:</label><br>
            <select name="Статус">
                {% for статус in статусы %}
                    <option value="{{ статус.id }}">{{ статус.Название }}</option>
                {% endfor %}
            </select><br>
            <label>Номер протокола:</label><br>
            <button type="submit" name="submit_привязка">Привязать</button>
        </form>
    </div>
    <script>
    function filterTable() {
    const input = document.getElementById("Filter").value.toLowerCase();
        // Таблица организаций
        document.querySelectorAll("#group-table tbody tr").forEach(row => {
            const text = row.innerText.toLowerCase();
            row.style.display = text.includes(input) ? "" : "none";
        });
        // Таблица привязок
        document.querySelectorAll("#group-linking-table tbody tr").forEach(row => {
            const orgCell = row.querySelector("td:nth-child(2)"); // 2-я колонка — организация
            const text = orgCell?.innerText.toLowerCase() || "";
            row.style.display = text.includes(input) ? "" : "none";
        });
    }
    document.querySelector('button[name="Группы_DOCX"]').addEventListener('click', function (e) {
    e.preventDefault();

    const selectedIds = [];
    document.querySelectorAll('#group-table tbody input[type="checkbox"]').forEach((checkbox, index) => {
        if (checkbox.checked) {
            const id = checkbox.closest('tr').dataset.id;
            if (id) selectedIds.push(id);
        }
    });
    //Если записи не выбраны галочками, будет добавлена вся таблица
    if (selectedIds.length === 0) {
        document.querySelectorAll('#group-table tbody input[type="checkbox"]').forEach((checkbox, index) => {
            const id = checkbox.closest('tr').dataset.id;
            if (id) selectedIds.push(id);
        });
        if(selectedIds.length === 0) {
            alert("Нет данных для сохранения в документ!")
            throw new Error()
        }
    }
    fetch("{% url 'export_groups' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify({ ids: selectedIds })
    })
    .then(res => {
        if (!res.ok) throw new Error('Ошибка при генерации документа!');
        return res.blob();
    })
    .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = "Группы.docx";
        document.body.appendChild(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);
    })
    .catch(err => alert(err));
    });
    </script>
{% endblock %}
