<!--MainMenu.html-->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Профресурс{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <style>
        .tab {
            overflow: hidden;
        }

        .tab a {
            padding: 10px;
            display: inline-block;
            text-decoration: none;
            font-size: 14pt;
            color: black;
        }
        .tab a.active {
            background-color: #ccc;
        }
    </style>
    {% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message|escapejs }}");
        {% endfor %}
    </script>
    {% endif %}
</head>
<body>
<h2>Цифровая система ООО "Профресурс"</h2>
<br>

<div class="tab">
    <a href="{% url 'student_list' %}" class="student_list">Cлушатели</a>
    <a href="{% url 'group_list' %}" class="group_list">Группы</a>
    <a href="{% url 'course_list' %}" class="course_list">Курсы</a>
    <a href="{% url 'material_list' %}" class="material_list">Материалы курсов</a>
    <a href="{% url 'organisation_list' %}" class="organisation_list">Организации</a>
</div>

<div class="tab-content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
